<h3>app</h3>

//busca las rutas donde se encuentra el objeto, le voy diciendo, las rutas que le asigno arriba a las clases
//si lo encontro y se produjo un error, muestra un cartel, sino encuentra la direccion dice que no se encuentra
//le digo donde va a mostrar las paginas, muestra el componente dentro de Body. 
<Router AppAssembly="@typeof(app).Assembly"
        AdditionalAssemblies="new[] {
                  typeof(RegistryClient).Assembly}">
                typeof().Assembly}">

    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </ChildContent>
            <ErrorContent>
                <p>Ocurrió un error inesperado.</p>
            </ErrorContent>
        </ErrorBoundary>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Lo sentimos, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router>